<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Search</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/margin-padding.css">
    <link rel="stylesheet" href="/css/material-design-iconic-font.min.css">
	<link rel="stylesheet" href="/css/styles.css">
    <script src="/js/angular.min.js"></script>

</head>
<body>
	<div ng-app="myApp" ng-controller="myCtrl">
		<div class="header">
            <div class="container-fluid">
                <div class="header-wrap mt20">
                	<div class="ml30">
						<div class="col-sm-5">
							<input type="text" ng-model="text" ng-change="textChange()" ng-blur="focusOut()" class="form-control search-input">
							<div class="{{isContentShow}}">
								<div class="panel panel-default">
									<div class="panel-body">
										<div ng-repeat="s in listSearch" ng-click="itemSelected(s)">
											{{s}}
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-2">
							<a class="btn btn-blue" ng-click="Find()">Find</a>
						</div>
					</div>
					<!-- <div class="header-content-right">
						<a class="btn btn-blue" href="/login">Login</a>
					</div> -->
            	</div>
            </div>
        </div>


		<div class="row mt30" ng-repeat="page in pages">
			<div class="container-fluid">
				<div class="panel panel-default">
					<div class="panel-body p10">
						<a href="{{page.link}}">
							<img class="page-image" ng-src="{{page.imageSrc}}">
							<h3 class="text-center">{{page.title}}</h3>
						</a>
						<p>{{page.description}}</p>
						<p class="page-src">{{page.pageSrc}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
	<script src="/js/controller/quick_search.js"></script>
</body>
</html>