<!DOCTYPE html>
<html>
<head>
	<title>Search</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/margin-padding.css">
    <script type="text/javascript" src="/js/angular.min.js"></script>

</head>
<body>
	<div class="px640 ml10" ng-app="myApp" ng-controller="myCtrl">
		<div ng-repeat="album in albums" class="mb20">
			<div class="dateText">{{album.header.createdTime}}</div>
			<div ng-repeat="content in album.contents">
				<img ng-repeat="c in content.contentInLayout" class="m15 test-width" src="{{c.srcUrl}}">
			</div>
		</div>

		
	</div>
    
	<script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/controller/test.js"></script>
</body>
</html>
