<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
         <script src="js/angular.js"></script>
        <script src="js/angular-route.js"></script>
        <script src="controller/management-add.js"></script>
        
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/styles.css">
        <link rel="stylesheet" href="css/margin-padding.css">
        <link rel="stylesheet" href="css/simple-sidebar.css">
        <link rel="stylesheet" href="css/material-design-iconic-font.min.css"> 
    </head>
    <body ng-app="mainApp">
        <div id="wrapper" ng-controller="mainCtrl"> 
            <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li class="sidebar logo"> <a href="#"><img src="images/logo.png" class="main-logo" alt=""></a> </li>
                    <li><a href="dashboard"><i class="zmdi zmdi-home zmdi-hc-lg"></i>MONITORING</a></li>
                    <li><a href="statistic"><i class="zmdi zmdi-smartphone zmdi-hc-lg"></i>STATISTIC</a></li>
                    <li class="parent"><a href="management"><i class="zmdi zmdi-settings zmdi-hc-lg"></i>MANAGEMENT</a></li>
                    <div class="collapse sub-nav" id="submenu3">
                        <li><a href="#"><i class="zmdi zmdi-circle"></i>BIN</a></li>
                        <li><a href="#"><i class="zmdi zmdi-circle"></i>EMPLOYEE</a></li>
                    </div>
                </ul>
            </div>
            <!-- /#sidebar-wrapper --> 
            
            <!-- Page Content -->
            <div id="page-content-wrapper">
                <div class="container-fluid">
    	          	<div class="row">
		            	<div class="col-xs-12 mb15 mt50">
			             	 <a ng-click="addBin" href="#popupAdd" data-toggle="modal" class="touch-link btn btn-blue-border mr15">
			                	<span class="zmdi zmdi-plus"></span>
			                	<span>Back</span>
			               	</a>
		            	</div>
		          	</div>
	                		          <div class="modal-dialog" role="document">
			        <div class="modal-content">
			            <div class="modal-header">
			                <a class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a>
			                ADD BIN </div>
			            <div class="modal-body">
			                <div class="row">
			                    <div class="col-sm-12 mb20">
			                        <label class="title">STATUS</label>
			                        <input type="text" id="" class="form-control input-lg" value="true">
			                    </div>
			                </div>
			                <div id="map">
			                </div>
			            </div>
			            <div class="modal-footer">
			                <div class="row">
			                    <div class="col-xs-3 col-xs-offset-6">
			                        <button type="button" class="btn btn-info w-100" data-dismiss="modal">Cancel</button>
			                    </div>
			                    <div class="col-xs-3">
			                        <button type="button" class="btn btn-blue w-100">OK</button>
			                    </div>
			                </div>
			            </div>
			        </div>
			        <!-- /.modal-content --> 
			    </div>
                </div>
            </div>
            <!-- /#page-content-wrapper --> 
        </div>
		<div class="modal fade" tabindex="-1" role="dialog" id="popupAdd">
		    
		    <!-- /.modal-dialog --> 
		</div>
    </body> 
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/default.js"></script>  
    <script src="js/simple-sidebar.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBut76aU8KK1puDk_6VhcDdwMb6chJMnAs&callback=initMap"
    async defer></script>
</html>
